.config-grouping {
  background-color: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.1);
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 #ebebeb, 0 3px 6px 0 #dbdbdb;
  height: 41px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  min-width: 260px;
}

.config-grouping-container {
  flex-basis: 50%;
  padding: 0 8px;
  margin-bottom: 15px;
}

.config-grouping-full-width {
  width: 100%;
}

.config-grouping-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.config-grouping-content {
  color: #000000;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  display: flex;
}

.config-grouping-link {
  display: flex;

  color: #0037f6;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: right;
}

.config-grouping-link:hover {
  cursor: pointer;
}
