.grade-system-minimize-button {
  background-color: #fafafc;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  min-width: 107px;
  height: 35px;
  padding: 7px 15px 10px 15px;

  display: flex;
  align-items: center;
  align-content: center;
}

.grade-system-minimize-button:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 245);
}

.grade-system-minimize-button-text {
  color: #000000;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  text-align: right;
  margin-left: 8px;
}
