.photo-list-table-row {
    background-color: #FAFAFC;
    border: .001em solid #DBDBDB;
    display: flex;

    color: #818A9C;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
}

.photo-list-checkbox-column {
    padding: 10px;
    border: 1px solid #DBDBDB;
    flex: -1;
}

.photo-list-preview-column {
    padding: 10px;
    border: 1px solid #DBDBDB;
    flex: 1;

    color: #737376;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

}

.photo-list-filename-column {
    padding: 10px;
    border: 1px solid #DBDBDB;
    flex: 3;

}

.photo-list-actions-column {
    padding: 10px;
    border: 1px solid #DBDBDB;
    flex: -1;
}

.check-box-icon,
.unchecked-box-icon {
    border: 1px solid rgba(151, 151, 151, 0.1);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #EBEBEB, 0 3px 6px 0 #DBDBDB;
}

.photo-preview {
    margin: 5px 10px;
    border-radius: 3px;
    width: 60px;
    height: 60px;
}

.photo-link {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-right: 0;
    padding: 5px;
    border: none;
}
