.staff-page-main-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.staff-page-top-container-style {
  width: 100%;
  background-color: #fafafc;
  box-shadow: 0 1px 0 0 #e2e2e2;
}

.staff-page-main-double-container {
  width: 100%;
  padding: 25px 40px;
  /* overflow: auto; */
}

.position-relative
{
  position: relative;
}

.position-fixed {
  position: absolute!important;
  right: 0px;
  width: 100px;
  z-index: 0;
  box-shadow: -4px 4px 12px 0px #dbdbdb;
}

.position-fixed.inner-div {
  background: #fff;
  padding: 16px 15px;
}

.position-fixed.header-div {
  background: #fafafc;
}

.staff-list-delete-rename-modal {
  position: absolute;
  right: 0;
  z-index: 1;
}

p.staff-list-pagination-dynamic-page-pick-button {
  line-height: 23px;
}

.gray-color
{
  color: #cacaca;
}

@media only screen and (max-width: 750px) {
  .staff-page-main-double-container {
    padding-left: 80px;
  }
}
