.forgot-password {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.forgot-password-container {
  padding: 20px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.forgot-password-container > img {
    margin-bottom: 20px;
}

.forgot-password-container > h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0;
}
.forgot-password-form {
    width: 100%;
}