.extracurricular-campus-container {
  background-color: #fafafc;
  border-radius: 6px;
  border: 1px solid rgba(151, 151, 151, 0.1);
  box-shadow: 0 -1px 1px 0 #ebebeb, 0 -3px 6px 0 #dbdbdb;
}

.extracurricular-campus-header-add-button {
  background-color: #5cc26b;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 #ebebeb, 0 3px 6px 0 #dbdbdb;
  padding: 10px 20px;
}

.extracurricular-campus-header-add-button:active {
  background-color: #58be68;
  box-shadow: 0 1px 1px 0 #ebebeb, 0 3px 6px 0 #dbdbdb,
    inset 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.extracurricular-campus-header-add-button-text {
  color: #ffffff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.extracurricular-campus-header-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 30px;
}

.extracurricular-campus-groups-add-long-button {
  background-color: #737376;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 #ebebeb, 0 3px 6px 0 #dbdbdb;
  padding: 10px;
  width: 100%;
}

.extracurricular-campus-groups-add-long-button:active {
  background-color: #6f6f72;
  box-shadow: 0 1px 1px 0 #ebebeb, 0 3px 6px 0 #dbdbdb,
    inset 0px 0px 8px rgba(0, 0, 0, 0.08);
}

.extracurricular-campus-groups-add-long-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.extracurricular-campus-groups-add-long-button-text {
  color: #ffffff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.extracurricular-campus-groups-add-long-button-wrapper {
  margin-top: 30px;
}

.extracurricular-campus-groups-container {
  padding: 0 30px 30px;
}

.extracurricular-campus-header-minimize-button {
  background-color: #fafafc;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px 14px;
}

.extracurricular-campus-header-minimize-button:active {
  background-color: #f8f8fa;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.04);
}

.extracurricular-campus-header-minimize-button-container {
  align-items: center;
  display: flex;
}

.extracurricular-campus-header-minimize-button-text {
  color: #000000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-left: 5px;
}

.extracurricular-campus-header-title-text {
  color: #000000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
