.error-pages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
}

.error-pages-header {
    color: green;
    margin: 5rem;
}

body.error-unauthorized-page .body-homepage-wrapper {
    flex: unset;
    width: 100%;
}
